#@formatter:off
DJANGO_DEBUG=off
DJANGO_DEBUG_PROPAGATE_EXCEPTIONS=off

DJANGO_CSRF_USE_SESSIONS=on
#DJANGO_SECRET_KEY=

DJANGO_DATABASE_URL=sqlite://

DJANGO_CACHE=locmemcache://

DJANGO_ALLOWED_HOSTS=localhost, 127.0.0.1, 0.0.0.0
DJANGO_DISALLOWED_USER_AGENTS=
DJANGO_INTERNAL_IPS=
DJANGO_DEFAULT_HTTP_PROTOCOL=http

DJANGO_ADMIN_URL=admin/

DJANGO_ADMINS=Some User:some.user@gmail.com
DJANGO_DEFAULT_FROM_EMAIL=webmaster@localhost
DJANGO_SERVER_EMAIL=root@localhost
DJANGO_EMAIL_URL=smtp://user:password@localhost:25
DJANGO_EMAIL_USE_LOCALTIME=True
DJANGO_EMAIL_SUBJECT_PREFIX=Django
DJANGO_EMAIL_SSL_CERTFILE=
DJANGO_EMAIL_SSL_KEYFILE=

DJANGO_DEFAULT_FILE_STORAGE=django.core.files.storage.FileSystemStorage
DJANGO_STATIC_ROOT=project/staticfiles
DJANGO_MEDIA_ROOT=project/media

DJANGO_DEBUG_SQL=off
DJANGO_DEBUG_SQL_COLOR=off

POSTGRES_USER=database_role
POSTGRES_PASSWORD=database_password
POSTGRES_DB=database_name
